---
bareTitle: David Minh-Duy Cao
layout: base-new.njk
---

<div class="grid grid-cols-1 gap-8 lg:gap-4 lg:grid-cols-13 mt-12 lg:mt-16 mb-24">
    <div class="lg:col-span-6 text-keynote-400">
        <!-- em-width space -->
        <p id="now">&#8195;</p>
        <p id="last-fm">&#8195;</p>
    </div>

    <div class="hidden absolute w-[18vw] lg:w-[16rem] top-32 right-4 lg:left-4 md:flex flex-row-reverse lg:flex-row gap-1 lg:items-end">
        <img src="/img/me.jpg" alt="A picture of me, taken by Claire S. Burke." />
        <p class="text-keynote-400 bg-white" style="writing-mode: vertical-rl; text-orientation: mixed;">
            Photo by
            <a href="https://www.burkesclaire.com/" class="underline hover:text-keynote-700">Claire S. Burke</a>
        </p>
    </div>

    <p class="font-xanh text-lg lg:col-span-7 max-w-prose text-keynote-700">
    I'm David (they/them), and I'm a PhD student in Computer Science with a Designated Emphasis in New Media at UC Berkeley, advised by
    <a class="underline hover:text-keynote-400" href="https://schasins.com">Sarah E. Chasins</a>.
    </p>

    <p class="font-plex lg:col-start-7 lg:col-span-7 max-w-prose text-keynote-700">
    Broadly, I'm thinking about how to use the methods of Third World liberation movement work to inform how we think about programming. Right now, my work looks like building novel direct manipulation programming tools, writing on the history of programming languages and queer digital spaces, building digital archives with Asian American movement OGs, and working alongside legal advocates and archivists.
    </p>
</div>

<div class="flex flex-col gap-20 lg:gap-16">
    <div class="flex flex-col gap-4 lg:gap-2 border-t pt-3 border-black">
        <div class="grid lg:grid-cols-13 gap-4">
            <p class="text-keynote-900 sticky lg:col-start-7">Writing</p>
        </div>
  
        <form
          action="https://buttondown.com/api/emails/embed-subscribe/dcao"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.com/dcao', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
            <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-x-4">
                <div class="lg:col-start-7 lg:col-span-5 flex flex-row">
                    <input type="email" placeholder="enter your email to join the blog newsletter" name="email" id="bd-email" class="rounded-none focus:outline focus:outline-2 focus:outline-keynote-800 bg-keynote-200 placeholder:text-keynote-400 flex-grow p-2 border border-keynote-800 text-sm/6 xl:text-base" />
                    <input type="submit" class="rounded-none cursor-pointer px-2 bg-keynote-800 hover:bg-keynote-600 text-keynote-100" value="Subscribe" />
                </div>
            </div>
        </form>

        {% for post in collections.blog reversed %}
            {% if not post.data.wip and not post.data.draft %}
                <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
                    <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">{{ post.data.date | utcDate }}</p>
                    <div class="lg:col-start-7 lg:col-span-5">
                        <a href="{{ post.url }}" class="underline hover:text-keynote-400">
                            {{ post.data.title }}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

        {% for post in test %}
            {{ post }}
        {% endfor %}

    <div class="flex flex-col gap-4 lg:gap-2 [&_a]:underline hover:[&_a]:text-keynote-400 border-t pt-3 border-black">
        <div class="grid grid-cols-13 gap-4">
            <p class="text-keynote-900 sticky lg:col-start-7">Recently</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2026</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                "Archive as Jazz: Digital Archiving Practice, from the Asian American Movement to No Arena in Chinatown." Presented at the <a href="https://www.camrapenn.org/ssmf-2026.html">2026 Screening Scholarship Media Festival</a> with <a href="https://www.asc.upenn.edu/people/graduate-student/christine-phan">Chris Phan</a>.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2026</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Affiliated with the <a href="https://bcnm.berkeley.edu/">Berkeley Center for New Media</a>. Recipient of the <a href="https://bcnm.berkeley.edu/news-research/6629/announcing-bcnm-s-spring-2026-conference-grant-recipients">BCNM Spring 2026 Conference Grant</a>.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2025</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Part of the <a href="https://americancultures.berkeley.edu/aces/graduate-learning-community">ACES Graduate Learning Community</a> Fall 2025 cohort.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2023</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Became fellow of the <a class="underline hover:text-keynote-400" href="https://bids.berkeley.edu/computational-research-equity-legal-system-training-program-crels">Computational Research for Equity in the Legal System</a> program.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2023</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Began PhD at UC Berkeley as a Chancellor's Fellow.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2022 &ndash; 2023</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Worked as Campus Diversity Engagement Coordinator at <a class="" href="https://spaces.ucsd.edu/">SPACES</a>.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2023</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                <a class="underline hover:text-keynote-400" href="https://dl-acm-org.libproxy.berkeley.edu/doi/abs/10.1145/3571207">babble</a>.
                Published and presented at POPL 2023.
                (<a class="underline hover:text-keynote-400" href="https://github.com/dcao/babble">code</a>, <a class="underline hover:text-keynote-400" href="https://github.com/dcao/babble">slides</a>)
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2023</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                Finalist for the <a class="underline hover:text-keynote-400" href="https://cra.org/about/awards/outstanding-undergraduate-researcher-award/#2023">Outstanding Computing Researcher</a> award.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2022</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                <a class="underline hover:text-keynote-400" href="https://dl-acm-org.libproxy.berkeley.edu/doi/10.1145/3519939.3523450">Type-directed program synthesis for RESTful APIs</a>. Published at PLDI 2022.
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
            <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">2022</p>
            <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                <a class="underline hover:text-keynote-400" href="https://cao.sh/static/popl_21_src.pdf">Automated Dependent Resource Analysis</a> (<a class="underline hover:text-keynote-400" href="https://vimeo.com/503234893">virtual poster</a>). 2nd Prize at POPL 2021 SRC.
            </div>
        </div>
    </div>

    <!--
    <div class="flex flex-col gap-4 lg:gap-2">
        <div class="grid grid-cols-13 gap-4">
            <p class="text-keynote-300 mix-blend-difference sticky lg:col-start-7">& Play</p>
        </div>

        {% for post in collections.av reversed %}
            <div class="grid grid-cols-1 lg:grid-cols-13 lg:gap-4">
                <p class="lg:col-start-1 lg:col-span-6 lg:text-right text-keynote-400">{{ post.data.date | date: "%Y" }}</p>
                <div class="lg:col-start-7 col-span-8 lg:col-span-5">
                    <a href="{{ post.url }}" class=" underline hover:text-keynote-400">
                        {{ post.data.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    -->
</div>

<script>
    // create a function to update the date and time
    function updateDateTime() {
        // create a new `Date` object
        const now = new Date();

        // get the current date and time as a string
        const fmt = Intl.DateTimeFormat('en-US', {
            timeZone: 'America/Los_Angeles',
            hour: "numeric",
            minute: "numeric",
            second: "numeric",
            hourCycle: "h12",
        });
        const currentDateTime = fmt.format(now);

        // update the `textContent` property of the `span` element with the `id` of `datetime`
        document.querySelector('#now').textContent = `It is ${fmt.format(now)} in Berkeley, CA`
    }

    // call the `updateDateTime` function every second
    setInterval(updateDateTime, 1000);
    updateDateTime();

    // last.fm widget stuff
    const loadData = async () => {
        const listening = document.getElementById("last-fm");
        const response = await fetch(`/.netlify/functions/last-fm`, {
            method: "GET",
        });
        const data = await response.json();

        listening.innerHTML = `Listening to <span class="text-keynote-600">${data.trackName}</span> by <span class="text-keynote-600">${data.artist}</span>`;
        // listening.href = data.url;
    };

    loadData();
</script>
